body,html {
    overflow-x: hidden;
    font-family: Sans-Serif;
    font-weight: 100;
    margin: 0;
    background-color: #fff;
    color: #111
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    padding-left: 20px;
    background: #00f3;
    background: linear-gradient(to right, #00f4, #f004);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid #0004;
    box-shadow: 0 0 5px #000;
    z-index: 1
}
header a {
    text-decoration: none;
    
}
main {
    margin: 10px;
    margin-top: 150px;
    margin-bottom: 30pt;
    text-align: center;
    background-color: #fff
}
#contents {
    margin: 10px;
    border: 2px solid #fff1;
    box-shadow: 3px 3px 8px #0008;
    padding: 10px;
    border-radius: 10px;
    text-align: left
}
footer {
    position: fixed, absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: linear-gradient(#0001,#fff);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px)
}
hr {
    border: .5px solid #000
}
a {
    color: #000
}
a:active {
    color: #555;
    text-shadow: 0 0 5px #0005
}
#button {
    padding: 3px;
    border: 1px solid #000;
    color: #fff;
    background-color: #111;
    border-radius: 2px;
    font-size: 15px;
    scale: 1
}
#copyurl:active {
    animation: 1s a
}
h1,h2,h3 {
    font-weight: 100
}
h2 {
    border-left: 4px solid #111
}
.oW,h2 {
    padding: 5px
}
.oW {
    background-color: #0000;
    margin: 30px;
    text-align: left;
    border: 1px solid #f66;
    border-left: 10px solid #f66;
    box-shadow: 2px 2px 5px #0008;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
#army {
    margin: 30px;
    border: 2px solid #fff;
    border-radius: 50px;
    rotate: 10deg;
    box-shadow: 0 0 30px #0008
}
#army:hover {
    box-shadow: 0 0 30px #0ff8;
    animation: b .5s;
}
@keyframes a {
    0% {
        scale: 1;
        background-color: #111
    }

    to {
        scale: 1.5;
        background-color: #555
    }
}
@keyframes b {
    from {
        box-shadow: 0 0 30px #0008
    }
    to {
        box-shadow: 0 0 30px #0ff8
    }
}
